<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!--    <filter>-->
<!--        <filter-name>utf8filter</filter-name>-->
<!--        <filter-class>com.amt.filter.UTF8Filter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>utf8filter</filter-name>-->
<!--        <url-pattern>*.jsp</url-pattern>-->
<!--    </filter-mapping>-->
<!--    -->
<!--    <servlet>-->
<!--        <servlet-name>adminslogout</servlet-name>-->
<!--        <servlet-class>com.amt.controller.AdminsLoginController</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>adminslogout</servlet-name>-->
<!--        <url-pattern>/admin/logout.do</url-pattern>-->
<!--    </servlet-mapping>-->


    
      <jsp-config>
        <jsp-property-group>
          <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
      </jsp-config>

</web-app>
